/* line 1, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_grid.scss */
.grid-container,
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

/* line 1, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_menu.scss */
ul {
  font-size: 30px;
  font-family: "Titan";
  position: sticky;
  text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

/* line 14, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_menu.scss */
ul .accueil {
  font-size: 50px;
}

/* line 18, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_menu.scss */
ul a {
  color: #FFF;
}

@font-face {
  font-family: "Titan";
  src: url("../../assets/polices/Vampire Wars.otf");
}

/* line 5, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_header.scss */
#site-header H1 {
  margin-top: 340px;
  text-align: center;
  font-family: "Titan";
  font-size: 6rem;
  text-shadow: 5px 0px 15px white;
}

/* line 12, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_header.scss */
#site-header a {
  text-decoration: none;
}

/* line 16, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_header.scss */
#site-header .banniere {
  background-image: url("../../assets/images/fond_accueil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* line 1, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_footer.scss */
#site-footer {
  background-color: #000;
}

/* line 4, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_footer.scss */
#site-footer p {
  text-align: center;
  color: #FFF;
}

/* line 1, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_body.scss */
.contour {
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
  background-color: #FFF;
  margin-bottom: 10px;
}

/* line 8, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_body.scss */
.decale {
  margin-top: 3rem;
}

/* line 11, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_body.scss */
body {
  overflow-x: hidden;
  background: linear-gradient(180deg, #800000, #FBFFB9);
}

/* line 16, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_body.scss */
body H2 {
  font-family: "Titan";
  text-align: center;
  text-decoration: underline;
}

/* line 23, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_body.scss */
.card-text {
  text-align: justify;
}

/* line 26, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_body.scss */
p {
  text-align: justify;
}

/* line 3, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_inscription.scss */
#site-inscription .banniere {
  background-image: url("../../assets/images/fond_accueil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* line 11, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_inscription.scss */
#site-inscription h2 {
  font-family: "Titan";
  text-align: center;
}

/* line 15, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_inscription.scss */
#site-inscription .contour {
  background-color: #FFF;
  margin-top: 100px;
}

/* line 19, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_inscription.scss */
#site-inscription td {
  text-align: center;
  background-color: #FFF;
}

/* line 23, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_inscription.scss */
#site-inscription .Erreur {
  color: red;
  text-align: center;
}

/* line 27, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_inscription.scss */
#site-inscription .dejaconnect {
  margin-top: 300px;
  background-color: #FFF;
  opacity: 80%;
}

/* line 2, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_brigades.scss */
#brigade .back {
  background: linear-gradient(180deg, #800000, #FBFFB9);
}

/* line 5, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_brigades.scss */
#brigade h1 {
  font-family: "Titan";
  text-align: center;
  font-size: 6rem;
}

/* line 10, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_brigades.scss */
#brigade h3 {
  font-family: "Titan";
  text-align: center;
}

/* line 14, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_brigades.scss */
#brigade .decale {
  margin-top: 2rem;
}

/* line 17, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_brigades.scss */
#brigade .contour {
  background-color: #FFF;
  margin-top: 100px;
}

/* line 21, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_brigades.scss */
#brigade .misehaut {
  margin-top: 0.5rem;
}

/* line 24, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_brigades.scss */
#brigade .alignement {
  margin-top: 3.2rem;
}

/* line 27, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_brigades.scss */
#brigade .decale2 {
  margin-top: 0.4rem;
}

/* line 3, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_insertperso.scss */
#personnages .banniere {
  background-image: url("../../assets/images/fond_accueil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* line 11, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_insertperso.scss */
#personnages h2 {
  font-family: "Titan";
  text-align: center;
}

/* line 15, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_insertperso.scss */
#personnages .contour {
  background-color: #FFF;
  margin-top: 100px;
}

/* line 19, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_insertperso.scss */
#personnages td {
  text-align: center;
  background-color: #FFF;
}

/* line 23, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_insertperso.scss */
#personnages .Erreur {
  color: red;
  text-align: center;
}

/* line 27, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_insertperso.scss */
#personnages .champtext {
  resize: none;
}

/* line 2, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_personnages.scss */
#personnages .background {
  background: linear-gradient(180deg, #800000, #FBFFB9);
}

/* line 5, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_personnages.scss */
#personnages h1 {
  font-family: "Titan";
  text-align: center;
  font-size: 6rem;
}

/* line 10, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_personnages.scss */
#personnages h3 {
  font-family: "Titan";
  text-align: center;
}

/* line 14, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_personnages.scss */
#personnages h4 {
  font-family: "Titan";
  text-align: center;
  color: #FFF;
  text-decoration: underline;
}

/* line 20, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_personnages.scss */
#personnages .decale {
  margin-top: 2rem;
}

/* line 23, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_personnages.scss */
#personnages .contour {
  background-color: #FFF;
  margin-top: 100px;
}

/* line 27, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_personnages.scss */
#personnages .redim {
  width: 400px;
  height: 300px;
}

/* line 2, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_connexion.scss */
#site-connexion .banniere {
  background-image: url("../../assets/images/fond_accueil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* line 10, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_connexion.scss */
#site-connexion h2 {
  font-family: "Titan";
  text-align: center;
}

/* line 14, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_connexion.scss */
#site-connexion .contour {
  background-color: white;
  margin-top: 270px;
}

/* line 19, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_connexion.scss */
#site-connexion .Erreur {
  color: red;
  text-align: center;
}

/* line 23, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_connexion.scss */
#site-connexion .button {
  margin-left: 9.8rem;
}

/* line 26, ../../../../../wamp64/www/adt_pwa/ressources/sass/components/_connexion.scss */
#site-connexion .dejaconnect {
  margin-top: 300px;
  background-color: #FFF;
  opacity: 80%;
}

/*# sourceMappingURL=style.css.map */