.contour{
    border-width:1px;
    border-style:solid;
    margin-top: 10px;
    background-color:$white;
    margin-bottom: 10px;
}
.decale{
    margin-top: 3rem;
}
body{
    //Permet d'empecher le scroll horitzontalement
   overflow-x: hidden;
   //Pour modifier les "News" de ma page accueil
   background: linear-gradient(180deg, #800000, #FBFFB9);
   H2{
       font-family: "Titan";
       text-align: center;
       text-decoration: underline;
   }
 
}
.card-text{
    text-align:justify;
}
p{
    text-align:justify;
}
