#brigade{
    .back{
        background: linear-gradient(180deg, #800000, #FBFFB9);
    }
    h1{
        font-family: "Titan";
        text-align: center;
        font-size: 6rem;
    }
    h3{
        font-family: "Titan";
        text-align: center;       
    }
    .decale{
        margin-top: 2rem;
    }
    .contour{
        background-color : $white ;
        margin-top: 100px;
    }
    .misehaut{
        margin-top: 0.5rem;
    }
    .alignement{
        margin-top: 3.2rem;
    }
    .decale2{
        margin-top: 0.4rem;
    }
}