#site-connexion{
    .banniere {
        background-image: url("../../assets/images/fond_accueil.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    h2{
        font-family: "Titan";
        text-align: center;
    }
    .contour{
        background-color : white ;
        // opacity: 50%;
        margin-top: 270px;
    }
    .Erreur{
        color: red;
        text-align: center;
    }
    .button{
        margin-left:9.8rem;
    }
    .dejaconnect{
        margin-top: 300px;
        background-color: $white;
        opacity: 80%;
    }
}