#site-header
{
    //Change la taille de l'écriture du titre sur la page accueil 
    //Le met en forme pour qu'il soit aligné + mise en forme
    H1{
        margin-top: 340px;
        text-align: center;
        font-family: "Titan";
        font-size: 6rem;
        text-shadow: 5px 0px 15px white;
    }
    a{
        text-decoration: none;
    }

    .banniere {
        background-image: url("../../assets/images/fond_accueil.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
}
