#site-inscription{

    .banniere {
        background-image: url("../../assets/images/fond_accueil.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    h2{
        font-family: "Titan";
        text-align: center;
    }
    .contour{
        background-color : $white ;
        margin-top: 100px;
    }
    td{
        text-align: center;
        background-color: $white;
    }
    .Erreur{
        color: red;
        text-align: center;
    }
    .dejaconnect{
        margin-top: 300px;
        background-color: $white;
        opacity: 80%;
    }
}