ul{       
    font-size: 30px;
    font-family: "Titan";
    //Sticky menu du bled
    position: sticky;
    //Met les contours en noir sur le menu
    text-shadow: $black 1px 1px, $black -1px 1px, $black -1px -1px, $black 1px -1px;;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;

    //Change la taille du 'Boutton' accueil
    .accueil{
        font-size: 50px;
        
    }
    a{
        color:$white;
    }
}