#personnages{
    .background{
        background: linear-gradient(180deg, #800000, #FBFFB9);
    }
    h1{
        font-family: "Titan";
        text-align: center;
        font-size: 6rem;
    }
    h3{
        font-family: "Titan";
        text-align: center;       
    }
    h4{
        font-family: "Titan";
        text-align: center;  
        color: $white;
        text-decoration: underline;
    }
    .decale{
        margin-top: 2rem;
    }
    .contour{
        background-color : $white ;
        margin-top: 100px;
    }
    .redim{
        width : 400px;
        height : 300px;
    }
}