@font-face{
    //Va chercher ma police stocker dans un dossier pour lui donner un nom
    //Police utilisé dans la page '_header.scss'
    font-family: "Titan";
    src: url("../../assets/polices/Vampire Wars.otf");
}